@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/adminlayout.cshtml";
}

@Html.Partial("Instituional_leftbar")

<div id="page-content" class="container_12">
    <div id="page-header">
       Sol taraftaki menüyü kullanarak <b>Vizyon</b> ve <b>Misyon</b> bilgilerini güncelleyebilirsiniz.
    </div>  
    <section class="grid_12 form">
  
   
    </section>
</div>
@section Scripts {

}


