@{
    Layout = "~/Views/Shared/frontlayout.cshtml";
}
<div class="main_content mainpage pageheight" style="">
    <div class="wrapper mainpage grid_12">
        <div id="sub-sidebar" style="float:left;">
            <h1>KATEGORİLER
            </h1>
            <ul style="margin-top: -9px" id="ul1">
                <li><a href='/urunler/elektrik'>ELEKTRİK</a></li>
                <li><a href='/urunler/enerji-verimliligi'>ENERJİ VERİMLİLİĞİ</a></li>
                <li><a href='/urunler/enerji-verimliligi'>ISITMA SİSTEMLERİ</a></li>
                <li><a href='/urunler/enerji-verimliligi'>ISI TRANSFERİ</a></li>
                <li><a href='/urunler/enerji-verimliligi'>İKLİMLENDİRME</a></li>
                <li><a href='/urunler/enerji-verimliligi'>KONTROL SİSTEMLERİ</a></li>
                <li><a href='/urunler/enerji-verimliligi'>SOĞUTMA SİSTEMLERİ</a></li>
                <li><a href='/urunler/enerji-verimliligi'>SIHHİ TESİSAT</a></li>
                <li><a href='/urunler/enerji-verimliligi'>AKIŞKANLAR MEKANİĞİ</a></li>
                <li><a href='/urunler/enerji-verimliligi'>TERMODİNAMİK</a></li>
                <li><a href='/urunler/enerji-verimliligi'>YENİLENEBİLİR ENERJİ</a></li>
            </ul>
        </div>

        <div id="sub-content" class="fl">
            <h1>Ürünler</h1>

        </div>
    </div>
</div>
