@{
    ViewBag.Title = "Page Not Found";
    Layout = "~/Views/Shared/frontlayout.cshtml";
}
<div class="main_content mainpage pageheight" style="">
    <div class="wrapper mainpage grid_12">
        <div class="content_page page">
            <h3>@NotFoundRess.NotFoundStrings.notfound</h3>
            <hr class="wide" />
            <div style="margin: 0 auto; width: 450px;">
                <h1 style="text-align: center; padding-bottom:20px;">@NotFoundRess.NotFoundStrings.notfoundcontent</h1>
                <img src="http://en.balticmedia.com/bm/images/404-Page-Not-Found.png" />
            </div>
        </div>
    </div>
</div>
