<aside>
<ul id="sidebar-nav"> 
<li><a href="#">İNSAN KAYNAKLARI</a>
<ul class="drop" style="display: block;">
     <li><a href="/yonetim/insankaynaklari"><img src="/Areas/Admin/Content/images/icons/16/page.png">İnsan Kaynakları</a></li>
    
</ul>
</li>
</ul>
<br /> <br /> 
      
</aside>




