@{
    Layout = "~/Views/Shared/frontlayout.cshtml";
}


<div class="main_content mainpage pageheight" style="">
    <div class="wrapper mainpage grid_12">
        <div id="sub-sidebar" style="float:left; min-height:500px">
            <h1>
                KARİYER
            </h1>
            <ul style="margin-top: -9px" id="ul1">
                <li><a href='/kariyer'>BİZE KATILIN</a></li>
                <li><a href='/kariyer/basvuru'>BAŞVURU FORMU</a></li>
            </ul>
        </div>

        <div id="sub-content" class="fl">
            <h1>BİZE KATILIN</h1>
            <p>Her geçen gün, çalışanlarımız sayesinde müşterilerimizin katma değer yaratarak güvenle büyümelerinde önemli bir rol üstleniyoruz.</p>
            <p>Müşterilerimizden yatırımcılarımıza, kamu kurum ve kuruluşlarına kadar birlikte çalıştığımız bütün paydaşlarımızın bizden çok büyük 
                beklentileri olduğunu biliyoruz. Bu beklentiye karşılık olarak, gerçekten olağanüstü nitelikli kişileri işe alıyoruz.</p>
            <img src="/Content/Images/Front/join-us.jpg" />
            <p>DENEYSAN olarak, her zaman yetenekli bireyleri işe almanın önemine inanıyoruz. Profesyonel hizmetler ekiplerimize destek veren ve başarılarımızda 
                önemli rol oynayan Destek Hizmet birimlerimizde de,  Pazarlama, Finans, İK ve Bilgi Teknolojileri gibi farklı alanlarda deneyimlere sahip 
                profesyoneller için gelecek vaat eden kariyer fırsatları sunmaktayız.</p>
            
        </div>
    </div>
</div>
